:root {
   --darker: #0D1B2A;
   --dark: #1B263B;
   --mid: #415A77;
   --light: #778DA9;
   --lighter: #E0E1DD;
}

nav {
   text-align: center;
   word-spacing: 30px;
   padding: 15px;
   background-color: var(--mid);
}

main {
   background-color: var(--dark);
}

* {
   box-sizing: border-box;
   /*border: 1px solid white;*/
   font-family: sans-serif;
}

.container {
   width:1000px;
   margin: 0 auto;
   display: table;
   color: var(--lighter);
   display: flex;
}

.post-text-box {
   width: 500px;
   flex: 70%;
   padding: 20px;
   margin-right: 10px;
   margin-left: 0;
   height: 1000px;
}

.profile {
   flex: 70%;
   padding: 20px;
   text-align: center;
   margin-right: 0;
   margin-left: 10px;
   flex-grow: 1;
}

.profile img {
   height: 500px;
   display: block;
   margin: 0 auto;
   border: 5px solid var(--lighter);
}

nav a {
   color: #000000;
   text-decoration: none;
   font-size: larger;
   color: var(--lighter);
}

body {
   margin: 0;
}
